@import 'partials/variables';
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Raleway:400,400i,700');

html {
  padding: 15px;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: $raleway;
  font-weight: 400;
  color: $black;
}
h1,h2,h3,h4,p{
  margin:0;
  padding: 0;
}
h1{
  font-family: $lato;
  font-size: 40px;
  margin: 15px 0px;
  font-weight: 400;
  line-height: 1.5em;
}
h2{
  font-family: $raleway;
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0px;
  line-height: 1.5em;
}
h3{
  font-family: $raleway;
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0px;
  line-height: 1.5em;
}
p{
  font-family: $raleway;
  font-weight: 400;
  font-size: 18px;
  margin: 10px 0px;
  line-height: 1.5em;
}
a{
  text-decoration: none;
  color: $orange;
  &:hover{
    color: $blue;
    text-decoration: none;
  }
}
img{
  max-width: 100%;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  color: $grey;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
abbr[title] {
  border-bottom: 1px #767676 dotted;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: 700;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #eee;
  color: #222;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  color: #666;
  font-size: 18px;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.7;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

blockquote cite {
  display: block;
  font-style: normal;
  font-weight: 600;
  margin-top: 0.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #eee;
  text-decoration: none;
}

ul{
    padding-left: 15px;
    margin: 15px 0px;
    li{
        font-size: 16px;
        margin: 9px 7px;
    }
}
ol{
    padding-left: 15px;
    margin: 15px 0px;
    li{
        font-size: 16px;
        margin: 9px 7px;
    }
}