$lato:'Lato', sans-serif;
$raleway: 'Raleway', sans-serif;

$darkblue: #020122;
$orange: #ff8000;
$blue: #338fff;
$white: #faebd7;
$black: #1f1f1f;
$lightblack: #7a7a7a;
$grey: #e8e8e8;

$navbar-text: #faebd7;
$navbar-text-hover: #338fff;
$navbar-header: $orange;
$navbar-header-hover: $blue;
$navbar-background: #f7f3f3;
$drawer-handle-color: #338fff;

$navbar-font: $lato;
